# Trabajo regresión polinómica

# Integrantes: Benjamín Lu, Antonio Águila, Catalina Moreno y Vicente Torres

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().system('pip install pydataset')

Requirement already satisfied: pydataset in c:\users\estudiante\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\estudiante\anaconda3\lib\site-packages (from pydataset) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\estudiante\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\estudiante\anaconda3\lib\site-packages (from pandas->pydataset) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\estudiante\anaconda3\lib\site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\estudiante\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)

In [13]:
from pydataset import data
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [14]:
df=pd.read_excel("Downloads/FIcha de Aprobacion PAES Final.xlsx") #Visualizando los datos

In [15]:
df

      metodos act. extracolegio    sexo aprobado
0   sin preu                 Si   Mujer       Si
1   sin preu                 No  Hombre       No
2    con preu                No   Mujer       No
3    con preu                Si  Hombre       Si
4   sin preu                 No   Mujer       No
5    con preu                Si   Mujer       Si
6    con preu                Si  Hombre       Si
7   sin preu                 No  Hombre       No
8    con preu                No  Hombre       Si
9    con preu                Si  Hombre       No
10  sin preu                 Si   Mujer       Si
11  sin preu                 No   Mujer       No

In [16]:
df=pd.get_dummies(df,drop_first=True) #Transformando las variables a números binarios
df

    metodos_sin preu   act. extracolegio_Si  sexo_Mujer  aprobado_Si
0                   1                     1           1            1
1                   1                     0           0            0
2                   0                     0           1            0
3                   0                     1           0            1
4                   1                     0           1            0
5                   0                     1           1            1
6                   0                     1           0            1
7                   1                     0           0            0
8                   0                     0           0            1
9                   0                     1           0            0
10                  1                     1           1            1
11                  1                     0           1            0

In [17]:
X_train, X_test, y_train, y_test=train_test_split(df.drop("aprobado_Si", axis=1), df["aprobado_Si"])

In [18]:
LogReg=LogisticRegression(solver="lbfgs")
LogReg.fit(X_train, y_train)

LogisticRegression()

In [28]:
LogReg.predict(np.array([[1,0,0]]))[0]
#Prediciendo si aprueba o no, 0=no 1=si
#cuando el metodo es sin_preu, no hace actividades extra colegio, y es hombre.

C:\Users\Estudiante\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0